@font-face {
  font-family: Brockmann;
  src: url(./assets/brockmann-medium-webfont.ttf) format("ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #ffffff;
  --secondary-background: #f6f2ea;
  --tertiary-background: ;

  --primary-black-color: #000000;
  --secondary-black-color: #2c2c2c;
  --tertiary-black-color: rgba(0, 0, 0, 70%);

  --yellow-color: #ffdc26;
  --pink: #ff90e7;

  --heading: "Brockmann";
  --para: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--heading);
}


h1 {
  margin-bottom: 24px;
  letter-spacing: -5px;
  line-height: 110%;
}

h5 {
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 120%;
}

p {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 120%;
}

.button__wrapper {
  gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.button {
  color: var(--primary-background);
  background-image: linear-gradient(#000, #292929);
  border: 1px solid #000;
  border-radius: 12px;
  padding: 22px 54px;
  font-family: Brockmann Webfont, sans-serif;
  transition: box-shadow 0.6s, background-color 0.6s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.31),
    inset 0 2px 1px rgba(255, 255, 255, 0.5);
}

.button:hover {
  background-image: linear-gradient(#292929, #292929);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.31),
    inset 0 2px 1px rgba(255, 255, 255, 0.5);
}

/* FLOATING NAVIGATION */

.nav-menu-2 {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.27),
    0 10px 20px 1px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.5);
}

.floating-nav__link.arrow {
  background-color: #2c2c2c;
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65dd0849cffa554da9dc7eed_a.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 90px;
  padding-left: 38px;
  padding-right: 38px;
}

.floating-nav__link.arrow:hover {
  background-color: #424242;
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/624322b0c806026f5689d841_Group%2012569.svg);
  background-repeat: no-repeat;
  background-size: auto 22px;
}

.floating-nav__link {
  color: #fff;
  cursor: pointer;
  padding-bottom: 16px;
  transition: all 0.2s;
}

.floating-nav__link:hover {
  color: #000;
  background-color: #ffdc26;
  border-radius: 50px;
}

.floating-nav__link.w--current {
  color: #000;
  background-color: #ffdc26;
  border-radius: 60px;
  padding-bottom: 20px;
}

.w--current{
  background-color: #ffdc26;
  color: #000;
}

.floating-nav__link.login {
  background-color: #2c2c2c;
  border-radius: 70px;
}

.floating-nav__link.login:hover {
  color: #fff;
  background-color: #424242;
}

.w-nav-link {
  vertical-align: top;
  color: white;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-nav-link.w--current {
  color: black;
}

.w-nav-menu {
  float: right;
  position: relative;
}

/* HERO SECTION */

.inner-frame {
  background-color: #f6f2ea;
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65da2485ff5fcdc97cd23ac3_dots.svg),
    url(./assets/Background.png);
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  border-radius: 36px;
  margin-left: auto;
  margin-right: auto;
}

#live {
  height: 15px;
  width: 15px;
  display: block;
  border-radius: 50%;
  margin-right: 8px;
  background-color: rgb(250, 65, 31);
  animation: pulse 1500ms infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
  }
  25% {
    box-shadow: #ff69b4 0 0 0 0;
  }
  100% {
    box-shadow: #ff69b400 0 0 0 10px;
    transform: scale(0.8);
  }
}

/* MARQUE */

.logo-marquee__wrapper {
  outline-offset: 0px;
  perspective-origin: 50%;
  transform-origin: 0%;
  background-color: #000;
  background-image: linear-gradient(#000, #292929);
  border-radius: 1000px;
  outline: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;
  box-shadow: 1px 9px 12px rgba(0, 0, 0, 0.31), 0 20px 13px rgba(0, 0, 0, 0.14),
    inset 0 2px 1px rgba(255, 255, 255, 0.5);
}

.marquee__element {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-right: 0%;
  display: flex;
  position: relative;
  left: 0;
  animation: scrollText 10s infinite linear;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee__logo {
  max-width: none;
  height: auto;
  margin: 0 2vw;
  display: inline-block;
}

.marquee__logo.domatron {
  max-width: 8%;
}

.marquee__logo.first {
  margin-left: 0;
}

.marquee__logo.first.astro {
  height: auto;
}

.marquee__logo.last {
  margin-right: 0;
}

.marquee__logo.xfinity {
  width: 90px;
}

.asto {
  width: 100px;
}

.cometchat {
  width: 130px;
}

.astro {
  width: 208px;
}

.domatron {
  width: 140px;
}

.div-block {
  width: 40px;
}

.image-69 {
  width: 10px;
}

/* Work Slider */

.hero__work-slider {
  background-color: rgba(251, 232, 222, 0);
  padding-top: 60px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.latest-projects__wrapper {
  z-index: 99;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: auto;
  left: 20%;
  right: auto;
}

.hero__images-wrapper {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.hero-badge {
  perspective: none;
  perspective-origin: 50%;
  transform-origin: 50%;
  padding: 9px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 99;
}

.badge__text {
  font-family: Brockmann Webfont, sans-serif;
  position: relative;
  top: -3px;
  left: -2px;
  transform: rotate(-20deg);
  z-index: 99;
}

/* HIW */

.hiw__column {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.hiw__icon-wrapper {
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  margin-bottom: 24px;
  display: flex;
}

.hiw__icon-wrapper.fixed {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65dd213f82838d6095daa0b5_60.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw__icon-wrapper.finger {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65de6fbe381ad6cc0f9b49d6_59.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw__icon-wrapper.scale {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65de6d36d4a5570d69382389_28.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw__icon-wrapper.check {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65de72d19d421fe0c141d43b_4.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw__icon-wrapper.flash {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65de73c98c0a4cd802b6de96_59.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
}

.hiw__icon-wrapper.dashj {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65dd6c806b50f5a766bc3c90_21.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw__icon-wrapper.subscrobe {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65de76aff0f28a7aa0162a7f_5.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw__icon-wrapper.folder {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65de7adeb3387e4c9926e14c_43.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw__icon-wrapper.thum {
  background-image: url(https://assets-global.website-files.com/5837424ae11409586f837994/65de7bd8468ed677a5da9a2d_60.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

/* QOUTES */

/* QOUTES END */

/* BENEFITS */

.benefit-icon-3 {
  width: 120px;
  height: 120px;
  background-image: url(https://assets-global.website-files.com/5837424…/65dd213…_60.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiw__icon-wrapper {
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-bottom: 24px;
  display: flex;
}

.scope__pill {
  color: var(--white);
  text-align: center;
  background-color: #ff90e7;
  border-radius: 100vw;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  font-family: Brockmann Webfont, sans-serif;
  display: inline-block;
}

._2 {
  background-color: #3e89ff
}

._3 {
  background-color: #27dab7
}

._4 {
  color: var(--black);
  background-color: #ffdc26
}

._5 {
  background-color: #fb421f
}

._6 {
  background-color: #9f26ff
}

.more {
  background-color: #000
}

.image-87 {
  border-radius: 8px;
  width: 100%;
}


/* PRICING */

.pricing__left {
  color: white;
  background-color: #000;
  background-image: linear-gradient(#000, #1d1d1d);
  border: 1px solid #000;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  max-width: 480px;
  padding: 50px;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: rotate(0);
  box-shadow: 0 20px 30px rgba(0, 0, 0, .34), 0 50px 50px rgba(0, 0, 0, .2), inset 0 2px 1px rgba(255, 255, 255, .5);
}


/* FAQ */

.faq__row {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  display: flex;
}

.faq__arrow {
  position: relative;
  top: 7px;
  transition: transform 0.3s ease;
}


/* PRODUCTS */

.funky__logo {
  width: auto;
  height: 26px;
  margin-right: 1vw;
}

@media screen and (max-width: 479px) {
  .funky__logo {
      margin-bottom: 20px;
      margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .funky__logo.verizon {
      height: 20px;
      margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .funky__logo.chase {
      height: 18px;
      margin-right: 0;
  }
}


/* FOOTER MARQUE */

.scope-marquee {
  outline-offset: 0px;
  perspective-origin: 50%;
  transform-origin: 0%;
  background-color: transparent;
  border: 1px #000;
  border-radius: 0;
  outline: 1px #000;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;
}
